body {
  background: black;
}
.center-div {
  display: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px;
  /*     font-size: 100%; */
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.main text{
  font-size: 250%;
}
.text-color {
  -webkit-text-fill-color: white;
}
.transparent-bordered{
  opacity: 0.34;
  font-size: 50%;
  border: rgba(255, 255, 255, 0.979)
}
.above-canvas {
  z-index: 500;
}
#footer-elem {
  font-size: 8px;
  bottom: 0;
  position: fixed;
}
#contact-div {
  font-size: 80%;
  position: absolute;
  text-align: center;
  right: 0;
  top: 50%;
  cursor: pointer;
  transform: rotate(-90deg);
}
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
