body{
    background: black;
}
.center-div{
    display:  none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px;
/*     font-size: 100%; */
    font-size: 250%;
    text-align: center;
    text-justify: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.text-color{
    -webkit-text-fill-color: white;
}
#footer-elem {
    font-size: 8px;
    bottom: 0;
    position: fixed;
}